<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>
        User page
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--Верхняя строчка с логаутом и правами пользователя -->
<nav class="navbar py-1 navbar-dark bg-dark text-light">
    <div>
        <span class="navbar-left font-weight-bold" sec:authentication="name"></span>
        with roles: <span class="navbar-left" sec:authentication="principal.authorities"></span>
    </div>
    <div class>
        <a class="nav-link text-secondary navbar-right" href="/logout">Logout</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-2">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a sec:authorize="hasAuthority('ADMIN')" class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/user">User</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-md-6 col-lg-10 bg-white">

            <h1>User information-page</h1>
            <div class="tab-pane fade show border">
                <div class="container-fluid bg-light border">
                    <div class="row">
                        <h4 class="m-3">About user</h4>
                    </div>
                </div>
            </div>
            <div class="bg-white container-fluid border">
                <table class="table table-striped border-top mt-3">
                    <thead th:align="center">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody th:align="center">
                    <tr th:align="center" th:object="${user}">
                        <td th:align="center" th:text="${user.getId()}"/>
                        <td th:align="center" th:text="${user.getUsername()}"/>
                        <td th:align="center" th:text="${user.getLastName()}"/>
                        <td th:align="center" th:text="${user.getAge()}"/>
                        <td th:align="center" th:text="${user.getEmail()}"/>
                        <td th:align="center" th:text="${user.getRoles()}"/>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>